<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="rssUrl" value="https://www.reddit.com/r/EarthPorn/.rss"/>
    <add key="wallpaperHistoryPath" value="[CONFIGURE PATH HERE]\wallpaper-updater-history.txt"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>